.DS_Store
node_modules/
out/
*.vsix
*.zip
vscode/node_modules/
vscode/out/
vscode/*.vsix
jetbrains/.gradle/
jetbrains/.intellijPlatform/
jetbrains/build/
docs/

# disallow docs directories anywhere in the repo
/docs/
**/docs/
/doc/
**/doc/
